<nav class="navbar navbar-default" role="navigation">
	<div class="container fluid">
		
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="my-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
		</div>
		<!-- on desktop -->
		
		<div class="collapse navbar-collapse" id="my-navbar">
			
			<div class="tabbable">
				
			<!-- login/logout buttons -->
			<% if current_user %>
				<ul class="nav navbar-nav navbar-right">
					<li role="presentation" class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
							Profile <span class="caret"></span>
						</a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#">My Bears</a></li>
							<li><%= link_to "Profile", user_url %></li>
							<li class="divider"></li>
							<li><%= button_to "Logout", session_url, method: :delete, class: "form-control btn btn-info" %></li>
						</ul>
					</li>
				</ul>
			<% else %>
				<ul class="nav navbar-nav navbar-right">
					<li class="active">
						<%= button_to "login", new_session_url, method: :get, class: "form-control", id: "login-btn" %>
					</li>
					<li>
						<%= button_to "sign-up", new_user_url, method: :get, class: "form-control", id: "signup-btn"%>
					</li>
				</ul>
			<% end %>
			
				
			<!-- search form -->
<!-- 			<form class="nav navbar-form navbar-right" role="search" action="/" method="GET">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="search">
				</div>
				<button type="submit" class="btn btn-default">Submit</button>
			</form>
			 -->
			<!-- tabs -->
				
			<ul class="nav navbar-nav nav-tabs">
				<li><a href="/" style="padding:0px; margin:0px;" ><%= image_tag "cute_panda_2.jpg", style: "max-height:62px; margin: 0px;" %></a></li>
  			<li><a href="#dash1" data-toggle="tab">Adopt-a-Bear</a></li>
			</ul>
			
		</div> <!-- tabbable -->
			
			
		</div> <!-- #my-navbar -->
			
			<div class="tab-content" id="nav-tab-content">
				<div id="dash1" class="tab-pane nav navbar-nav nav-pills">
					
					<ul class="nav navbar-nav nav-pills">
						<li>
							<a href="/static_pages/home">Home</a>
						</li>
						<li>
							<a href="/static_pages/about">About</a>
						</li>
						<li>
							<a href="/static_pages/contact">Contact</a>
						</li>

					</ul>
						
				</div>
				
<!-- 				<div id="pane1" class="tab-pane active">
					<h4>The Markup</h4>
					<pre>Code here ...</pre>
				</div>
				<div id="pane2" class="tab-pane">
					<h4>Pane 2 Content</h4>
						<p> and so on ...</p>
				</div>
				<div id="pane3" class="tab-pane">
					<h4>Pane 3 Content</h4>
				</div> -->
			</div> <!-- tab-content -->
		
	</div> <!-- container fluid -->

</nav>