<%= form_tag({controller: "shortened_urls", action: "create"}, method: "post") do %>

  <div class="field">
		<%= url_field(:user, :long_url, { placeholder: "much url", class: 'form-control'}) %>
  </div>
	<div class="field">
		<%= text_field(:user, :tags, { placeholder: "tags", class: 'form-control'}) %>
  </div>
	<div class="field">
		<%= text_field(:user, :name, { placeholder: "name", class: 'form-control'}) %>
  </div>
	<div class="field">
		<%= email_field(:user, :email, { placeholder: "email", class: 'form-control'}) %>
  </div>

<%= submit_tag "go", class: "btn btn-info" %>

 
<% end %>
