<div class="row">
	
<div class="jumbotron">
	<div class="container">
		<div class="row">
			
			<h1>Adopt a Bear</h1>
			<div class="col-lg-6 col-md-6 col-sm-6">
				
				<p>Every day thousands of species hit the can. THAT'S SUPER SAD. Did you know you can not only save the manatees, but make money will doing so?</p>
  		<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
				
			</div>
			
			<div class="col-lg-6 col-md-6 col-sm-6">
				
				<p>How it works</p>
			</div>
  		
		</div>
		 
	</div>
	</div>
</div>

<div class="row" style="text-align:center">
	<h1>Meet The Team </h1>
	<br>
</div>
<div class="row">
	<div class="col-lg-3 col-md-3 col-xs-3">
		<%= image_tag 'team/team-obama.jpg' %>
		<h2>President Obama</h2>
		<p><%= @paragraph %></p>
	</div>
	<div class="col-lg-3 col-md-3 col-xs-3">
		<%= image_tag 'team/team-jonathan-ive.jpg' %>
		<h2>Jonathan Ive</h2>
		<p><%= @paragraph %></p>
	</div>
	<div class="col-lg-3 col-md-3 col-xs-3">
		<%= image_tag 'team/team-zuckerberg.jpg' %>
		<h2>Mark Zuckerberg</h2>
		<p><%= @paragraph %></p>
	</div>
	<div class="col-lg-3 col-md-3 col-xs-3">
		<%= image_tag 'team/team-wullenberg.jpg' %>
		<h2>Mark Wullenberg</h2>
		<p><%= @paragraph %></p>
	</div>
</div>
