<ul>
  <li>
    <%= parent_comment.karma_score %>
    <%= link_to parent_comment.content, post_comment_url(parent_comment.post, parent_comment) %> <br>
    <%= button_to "upvote", upvote_comment_url(parent_comment), method: :post %>
    <%= button_to "downvote", downvote_comment_url(parent_comment), method: :post %> <br>
    <%= parent_comment.author.username %> <br>
    <%= parent_comment.created_at %> <br>

    <!-- @all_comments is a hash -->

    <% @all_comments[parent_comment.id].each do |child_comment| %>
        <li>
         <%= render partial: 'comments/comment', locals: {parent_comment: child_comment} %>
       </li>
    <% end %>
  </li>
</ul>
