<!-- action_name is local variable (sessions_url, users_url, user_url(@user)) -->

<form action="<%= action_name %>" method="POST">
  <%= add_auth_token %>
  <% if @user.persisted? %>
    <input type="hidden" name="_method" value="PATCH">
  <% end %>
  <label for="user_username">Username:</label>
  <input type="text" name="user[username]" value="<%= @user.username %>" id="user_username">

  <label for="user_email">Email(optional):</label>
  <input type="email" name="user[email]" value="<%= @user.email %>" id="user_email">

  <label for="user_password">Password:</label>
  <input type="password" name="user[password]" id="user_password">

  <input type="submit" value="<%= button_text %>">


</form>
