<h1><%= @cat.name %></h1>

<table>
  <th> My Stats </th>
  <% @attributes.each do |pair| %>
    <tr> <td><%= pair[0] %></td> <td><%= pair[1] %></td> </tr>
  <% end %>


</table>

<!-- /cat_rental_requests/new?cat_id=1 -->
<%= link_to "Make a rental request for me", new_cat_rental_request_url(cat_id: @cat.id) %>
<br>
<table>
  <th> My Rental Requests </th>
  <tr>
    <td>Number</td>
    <td>Start-date</td>
    <td>End-date</td>
  </tr>
  <% @cat.cat_rental_requests.each_with_index do |req, idx| %>
    <tr>
      <td><%= "#{idx + 1}" %></td>
      <td><%= req.start_date %></td>
      <td><%= req.end_date %></td>
      <td><%= req.status %></td>
      <td>
      <%if req.status == 'PENDING'%>
        <%= button_to "Approve", approve_cat_rental_request_url(req), method: 'post'%>
        <%= button_to "Deny", deny_cat_rental_request_url(req), method: 'post'%>
      <%end%>
      </td>

    </tr>
  <% end %>
</table>
